.initiateWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.initateFunFactTitle {
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
}

.initateFunFact {
  max-width: 700px;
  font-size: 1.5rem;
}

.initateActions {
  max-width: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 800px) {
    justify-content: center;
  }
}

.initateActionIcon {
  fill: #0b3954;
  height: 5rem;
  width: 5rem;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.initateActionIcon:hover {
 transform: scale(1.1);
}